@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    color: #623307; 
    font-family: 'Noto Sans', sans-serif;
    text-align: justify; 
    justify-content: center;

}
.titulo {
    transform: translateY(30%) !important;
    text-align: center !important; 
}

.separacion{
    margin: 5%;
}
.cardsestilos{
    color: black;

}
.botones{  
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}

.btn{
    background-color: #006E59;
    color: white;
    justify-content: center;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
.container{
    color: #623307;
    font-family: 'Noto Sans', sans-serif;
}

