.espaciado{
    margin-top: 10%;
}

body{

   background-color: bisque;
    
}
label{
    color: rgb(26, 25, 24);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
#enlace{
    display: inline;
    border: 1px solid black;
}
