*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Noto Sans;
}

.container-fondo{

    background-image: url(../images/fondoPrincipal.jpg); height:465px;
    background-position:100%;
    background-size: cover;
    background-position: center;
}

.container-fondo-txt{
    
    background-image: url(../images/color3.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    text-align: center;
    font-family: Noto Sans;
    font-size: 36px;
    letter-spacing: 3px;
    height: 250px ;
    color: #623307;
}

.txtNuestrosProductos{
    padding: 2% ;
    margin-top: 5% ;
    
    background-color: rgba(126, 165, 103, 1);
    Font-family: Noto Sans;
    Font-size: 36px;
    text-Align: Center;
    Letter-spacing: 5px;
    color: #FAFAFA;
    
}
/*Efectos de imagenes de pagina principal*/
.prueba{
    width: 100%;
    height: 100vh;
    background-color: ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}/*Contenedor de imagenes de pagina principal*/

.box{
    width: 100%;
    height: 80vh;/*tamaño de imagenes */
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1%;
    
}/*Caja de imagenes */
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .hover{
    /* padding-top: 50%; */
    
    width:0%;
    height: 125vh; /*tamaño de efectos de imagenes */
    background-color: rgb(56, 53, 53,0.568);/*color de efecto de imagenes*/
    position: absolute;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:0.4s all;
}
.hover btn{
    
    
    color:#FAFAFA;
    /* text-shadow: 1px,1px,1px black; */
    font-size: 2.5em;
}
.box:hover .hover{
    padding-top: 30%;
    padding-left: 20%;
    padding-right: 20%;
    
    
    width: 100%;
}
.btn{
    background-color: rgba(126, 165, 103, 1);;
    color: #FAFAFA;
    
}







