*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Noto Sans;
}

.container-fondo{

    background-image: url(../images/fondoPrincipal.jpg); height:465px;
    background-position:100%;
    background-size: cover;
    background-position: center;
}

.container-fondo-txt{
    
    background-image: url(../images/color3.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
}

.txtNuestrosProductos{
    padding: 2% ;
    margin-top: 5% ;
    background-color: rgba(126, 165, 103, 1);
    Font-family: Noto Sans;
    Font-size: 36px;
    text-Align: Center;
    Letter-spacing: 5px;
    color: #FAFAFA;
    
}
/*Efectos de imagenes de pagina principal*/
.Contenedor_img{
    width: 100%;
   
    background-color: ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}/*Contenedor de imagenes de pagina principal*/

.box{
    width: 100%;
   
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 1%;
    
}/*Caja de imagenes */
.box img{
    
    width: 100%;
    height:10vh;
    object-fit: cover;
}
.box .hover{
    /* padding-top: 50%; */
    
    width:0%;
    height: auto; /*tamaño de efectos de imagenes */
    background-color: rgb(56, 53, 53,0.568);/*color de efecto de imagenes*/
    position: absolute;
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition:0.9s all;
}
.hover btn{

    color:#FAFAFA;
    
    
}
.box:hover .hover{
    
    width: 100%;
    
}

.btn{
    background-color: rgba(126, 165, 103, 1);
    color: #FAFAFA;
  
}
.parrafo{
    text-align: center;
    font-family: Noto Sans;
    font-size: calc(36px);
    letter-spacing: 3px;
    color: #623307;
}
@media screen and (max-width: 767px) {
    .btn{
        width: 5rem;
        height: 1.5rem;
        font-size: 50%;
    }
}











