@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    /* font-size: x-large; */


}

.ford div:first-child:hover{
    background-color:rgba(126, 165, 103, 0.096);
    margin: 1px solid black;
}

.formulario1{
    font-weight: bold;
    background-color:white;
   
}

input {
    background-color:#623307;
}

.formulario2{
    font-weight: bold;
    background-color:white;

}
.formulario2:hover{
    background-color: rgba(126, 165, 103, 0.096);
}

.campos{
    font-weight: bold;
    text-align: left;
    color:#623307;
    font-size:larger;  
    margin-bottom: 2%;  

}
.renglon{
    font-weight: bold;
    margin-bottom: 10%;
    pointer-events:none;
}

    




.separacion{
    margin-bottom: 20%;
    pointer-events:none;
}



.colorinput{
    margin-bottom: 6%;
    height: 50px;
    border: 0px;
    background-color: rgba(196, 196, 196, 0.205);

}

.colorinput:hover{
    background-color: rgba(196, 196, 196, 0.205);

}
.titulos{
    
    font-size: x-large;
    letter-spacing: 4px;
    pointer-events:none;
    font-weight: bolder;
    color: #006E59;
}

h1{
    pointer-events:none;
}

.botones{
    text-align: right;
    border: 0px;
    margin-bottom: 10%;
}
