@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.navancla{
    font-family: 'Noto Sans', sans-serif;
    color: #623307;
}
.navancla i{
    color: #623307;
    font-size: 1.2em ;

}

.verde{
    background-color: #006E59;
}
.verde i{
    color: white;
}