@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
    ESTILOS NAVBAR
*/


nav {
    position: absolute;
    height: 100px;
    z-index: 10;
}

#menu ul li a {
    font-family: "Noto Sans";
    color: rgba(100, 52, 7, 0.5) !important;
    transition: all 300ms;
}

#menu ul li a:hover {
    color: #643407 !important;
}

#logoNav img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
}

@media (max-width: 992px) {
    #menuBG {
        /* width: 100%;
        margin-top: 0px; */
        background-color: white;
    }
 }

@media (min-width: 992px) {
    #moveText1 {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    #moveText2 {
        position: absolute;
        top: 50%;
        left: 27%;
        transform: translateY(-50%);
    }

    #moveText3 {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translateY(-50%);
    }

    #moveText4 {
        position: absolute;
        top: 50%;
        left: 78%;
        transform: translateY(-50%);
    }

    #moveText5 {
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translateY(-50%);
    }
    #moveText6 {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translateY(-50%);
    }
    #moveText7 {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
}

/*
    ESTILOS FOOTER    
*/

#footer {
    margin-top: 50px;
    height: 70px;
    background-color: #006E59;
    overflow: hidden;
}

#footer ul {
    text-align: center;
    margin-top: 15px;
}

#footer ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

#footer ul li a:hover {
    transform: scale(1.2, 1.2) !important;
}