
body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;

  color: #fff;
  
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.container * {
  box-sizing: border-box;
  border-color: #000;
  color:black;
  
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
  
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #803710;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {    
  width: 100px;
  
}

.container{
    color: #000;
    
}

.form-container{
    border-color:black;
    
}

#form_1{
  border: black solid 5px;
  background-color: #F2F2F2;
   /*  height: 50px;
    width: 300px; */
    /* letter-spacing: 2px; */
    text-align: left;
    color: black;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    line-height: 43px;
    font-weight: 900;
    
    
    
}

.botones{
  align-items: left;
 

}