body{
    background-color: rgb(255, 255, 255); 
}
.container{
    background-color:#FFE6A7;
    height: 1000px;
}

#home{
    background-image: url(/src/images/CafeFondoS1.jpeg);
    background-repeat:no-repeat;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    
}

.seccion1-carru{
    background-color: rgb(255, 255, 255); 
    height: 350px;
    margin: 10px;
    border: solid 5px black;
}
#carouselExampleCaptions{
    margin-left: 20px;
    margin-right: 20px;
    
}
.seccion1-descripcion{
    background-color:#4d2c0d;
    min-width: 45vh;
    /*height: 350px;*/
    min-height:48vh;
    padding: 10px;
    margin: 10px;
    color: #ffff;
}
.seccion1-descripcion-info{
    margin-bottom: 25vh;
}

#about{
    background-color: #FFE6A7;
    text-align: center;
}

.seccion2-Prom{
    text-align: center;
    border-bottom: solid 5px #7A3F08;
    width: 60vh;
    margin-left: 60vh;
    margin-top: 5vh;
}
.seccion2-contenedor{
   
    display: flex;
    flex-direction: row;
}
.seccion2-img{
    padding: 5vh;
   
}
.seccion3{
    background-color: #FFE6A7;
    text-align: center;
}
.seccion3-Mejor{
    text-align: center;
    border-bottom: solid 5px #7A3F08;
    width: 60vh;
    margin-left: 60vh;
    margin-top: 5vh;
}
.seccion3-contenedor{
    display: flex;
    flex-direction: row;
}
.seccion3-img{
    padding: 5vh;
    
}
