.container{
    background-color:#FFE6A7;
}

#section1{
    background-color: #4d2c0d;
    background-size: cover;
    background-position: center;
    
  /*   padding: 1vh; */
    

}
.seccion1-carru{
    /* margin-top: %; */
    text-align: center;
    /* background-color: white; */
    /* height: 1%; */
    padding: 3vh;
}

#section1-description{
    text-align: center;
    color: #ffff;
    background-color:#4d2c0d ;
    padding: 3vh;
}
.seccion1-imagen-carru{
    margin-top: 10vh;
}
.title{
    text-align: center;
    -bottom: solid #4d2c0d 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.seccion2-Prom{
    
    text-align: center;
    margin-top: 2vh;
}

.efecto{
      -webkit-transition: 0.2s linear;
              transition: 0.2s linear;              
}
.efecto:hover{
    -webkit-transform: scale(.9);
            transform: scale(.9);   
}
#separacion{
    padding: .5%;
}

