.container{
    background-color:#FFE6A7;
}

#section1{
    background-image: url(../images/CafeFondoS1.jpeg);
    background-size: cover;
    background-position: center;
    
    padding: 1vh;
    gap: 2vh;

}
.seccion1-carru{
    margin-top: 7vh;
    text-align: center;
    background-color: white;
    height: 10%;
    padding: 3vh;
}

#section1-description{
    text-align: center;
    color: #ffff;
    background-color:#4d2c0d ;
    padding: 3vh;
}
.seccion1-imagen-carru{
    margin-top: 20vh;
}
.title{
    text-align: center;
    -bottom: solid #4d2c0d 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.seccion2-Prom{
    gap: 1vh;
    text-align: center;
    margin-top: 2vh;
}
.seccion3-Fav{
    gap: 1vh;
    text-align: center;
    margin-top: 2vh;
}

.efecto{
      -webkit-transition: 0.2s linear;
              transition: 0.2s linear;              
}
.efecto:hover{
    -webkit-transform: scale(.9);
            transform: scale(.9);   
}
#separacion{
    padding: .5%;
}

