@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    color: #623307; 
    font-family: 'Noto Sans', sans-serif;
    text-align: justify; 


}
.titulo {
    transform: translateY(30%) !important;
    text-align: center !important; 
}

.separacion{
    margin: 5%;
}
.cardsestilos{
    color: black;

}