@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
body {
    background-image: url("../images/FondoContacto.png");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

img {
    display: flex-end;
}



.card {
    background-color: transparent;
    height: 10%; 
}
.trasparente{
    background-color: transparent;
}
.textonombres{
    color: black

}
#logoketzal{
    width: 100%;
    z-index: -1;
}
#alert{
    background-color: black;
    color: white;

}

